<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Основная часть</title>
    <link rel="stylesheet" href="mysite.css">
    <link rel="stylesheet" href="http://www.htmlbook.ru/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body bgcolor="#F5DEB3" link="#8B4513" vlink="#A52A2A">
<h1>О приложении</h1>
 <p> Тут ты найдёшь немного информации о разработчиках и о сайте.</p>
 <p>Если есть к нами какие-либо вопросы или предложение пиши сюда:     <a title="Наш вк" href="https://vk.com/temaaaaaaaaaaaaaaaaaaaaaaaaa">Наш Vk</a></p>
 
</body>
</html>