

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница заполнения</title>
    <link href="D:\pathfinder\css\main_1_2.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body  link="#8B4513" vlink="#A52A2A" style="height:6000px" > 
    <!--<div><img src="https://static.wikia.nocookie.net/rpg/images/8/80/Pathfinder_RPG.png/revision/latest/scale-to-width-down/1000?cb=20100606105213&path-prefix=ru" alt="Лого pathfiner"  width="400" height="150" style="margin: 0px"> </div>
        
    <!--<h1>{{form.date}}<h2>-->
   
        <form  method="post">
            
        {% csrf_token%}



<table class="tableparams_eleven">
    <tr>
        <td colspan="1" style="position:relative; right:-7px"><h2 class="sagolovok" style="width:190px; height:60px">СКОРОСТЬ <br> наземная </h2></td>
        <td colspan="1"><input type="text" class="input" size="2" style="width:170px; height:40px" value="ФУТЫ, КЛЕТКИ" id={{form.speed_land_base_speed_FT_SQ}} <br> <b>БАЗОВАЯ CКОРОСТЬ<b> </td>
        <td colspan="1"><input type="text" class="input" size="2" style="width:130px; height:40px" value="ФУТЫ, КЛЕТКИ" id={{form.speed_land_with_armor_FT_SQ}} <br> <b>В БРОНЕ<b> </td>
        <td colspan="1" style="position:relative; top:-10px"><input type="text" class="input" size="3" style="width:200px; height:40px " value="ВРЕМ,МОДИФИКАТОРЫ" id={{form.speed_land_temp_modifiers}} </td>   
    </tr>
    <tr>
        <td colspan="1"><input type="text" class="input" size="2" style="width:200px; height:40px" value="ФУТЫ" id={{form.speed_land_fly_FT}}  <br> <b>ПОЛЁТ  МАНЁВРЕННОСТЬ<b> </td>
        <td colspan="1"><input type="text" class="input" size="2" style="width:120px; height:40px" value="ФУТЫ" id={{form.speed_land_swim_FT}}  <br> <b>ПЛАВАНИЕ<b> </td>
        <td colspan="1"><input type="text" class="input" size="2" style="width:120px; height:40px" value="ФУТЫ" id={{form.speed_land_climb_FT}}  <br> <b>ЛАЗАНИЕ<b> </td>
        <td colspan="1"><input type="text" class="input" size="2" style="width:120px; height:40px" value="ФУТЫ" id={{form.speed_land_burrow_FT}}  <br> <b>РЫТЬЁ<b>  </td>
    </tr> 
</table>    

<table class="tableparams_twelve" >
    <tr> 
        <td colspan="5" style="position:relative; right:-7px"><h2 class="sagolovok" style="width:750px; height:60px"> <div style="position:relative; top:15px">НАВЫКИ</div> </h2></td>
    </tr>
    <th><h6>НАВЫКИ</th> <th><h6>ОБЩИЙ<br>БОНУС</th> <th><h6>МОДИФ.<br> ХАРЬКИ.</th> <th><h6>ПУНКТЫ</th> <th><h6>ПРОЧИЕ<br> МОДИФ</th>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_bluff_bool}} АКРОБАТИКА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_bluff_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_bluff_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_bluff_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_bluff_misc_mod}}  </td>
    </tr>
    
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_acrobatics_bool}} БЛЕФ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_acrobatics_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_acrobatics_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_acrobatics_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_acrobatics_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_horseback_riding_bool}} ВЕРХОВНАЯ ЕЗДА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_horseback_riding_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_horseback_riding_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_horseback_riding_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_horseback_riding_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_attention_bool}} ВНИМАНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_attention_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_attention_misc_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_attention_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_attention_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_survival_bool}} ВЫЖИВАНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_survival_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_survival_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_survival_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_survival_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_diplomacy_device_bool}} ДИПЛОМАТИЯ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_diplomacy_device_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_diplomacy_device_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_diplomacy_device_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_diplomacy_device_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_training_bool}} ДРЕССИРОВКА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_training_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_training_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_training_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_training_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_intimidation_artist_bool}} ЗАПУГИВАНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_intimidation_artist_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_intimidation_artist_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_intimidation_artist_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_intimidation_artist_misc_mod}}  </td>
    </tr>
    
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_elite_bool}} ЗНАНИЕ<br>(ВЫСШИЙ СВЕТ) </td>
        <td colspan="1"><input  type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_elite_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_elite_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_elite_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_elite_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_geography_bool}} ЗНАНИЕ<br>(ГЕОГРАФИЯ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_geography_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_geography_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_geography_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_geography_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_engineering_bool}} ЗНАНИЕ<br>(ИНЖЕНЕРНОЕ ДЕЛО) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_engineering_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_engineering_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_engineering_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_engineering_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_history_bool}} ЗНАНИЕ<br>(ИСТОРИЯ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_history_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_history_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_history_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_history_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_history_bool}} ЗНАНИЕ<br>(ИСТОРИЯ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_history_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_history_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_history_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_history_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_local_history_bool}} ЗНАНИЕ<br>(КРАЕВЕДЕНИЕ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_local_history_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_local_history_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_local_history_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_local_history_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_magic_bool}} ЗНАНИЕ<br>(МАГИЯ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_magic_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_magic_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_magic_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_magic_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_plan_bool}} ЗНАНИЕ<br>(ПЛАНЫ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_plan_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_plan_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_plan_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_plan_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_dungeons_bool}} ЗНАНИЕ<br>(ПОДЗЕМЕЛЬЯ) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_dungeons_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_dungeons_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_dungeons_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_dungeons_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_nature_bool}} ЗНАНИЕ<br>(ПРИРОДА) </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_nature_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_nature_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_nature_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_nature_misc_mod}}  </td>
    </tr>
    
   



    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_resourcefulness_bool}} ИЗВОРОТЛИВОСТЬ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_resourcefulness_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_resourcefulness_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_resourcefulness_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_resourcefulness_misc_mod}}  </td>
    </tr>

    
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_resourcefulness_bool}} ИСПОЛНЕНИЕ <input type="text" style="width:20px" id={{form.skill_performance_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_performance_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_performance_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_performance_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_performance_misc_mod}}  </td>
    </tr>

    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_performance_one_bool}} ИСПОЛНЕНИЕ <input type="text" style="width:20px" id={{form.skill_performance_one_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_performance_one_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_performance_one_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_performance_one_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_performance_one_misc_mod}}  </td>
    </tr>

    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_use_magic_devices_bool}} ИСПОЛЬЗОВАНИЕ <br> МАГИЧ. УСТРОЙСТВ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_use_magic_devices_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_use_magic_devices_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_use_magic_devices_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_use_magic_devices_misc_mod}}  </td>
    </tr>
    
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_witchcraft_bool}} КОЛДОВСТВО </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_witchcraft_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_witchcraft_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_witchcraft_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_witchcraft_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_climbing_bool}} ЛАЗАНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_climbing_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_climbing_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_climbing_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_climbing_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_hilling_bool}} ЛЕЧЕНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_hilling_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_hilling_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_hilling_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_hilling_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_sleight_of_hand_bool}} ЛОВКОСТЬ РУК </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_sleight_of_hand_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_sleight_of_hand_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_sleight_of_hand_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_sleight_of_hand_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_disguise_bool}} МАСКИРОВКА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_disguise_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_disguise_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_disguise_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_disguise_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_mechanic_bool}} МЕХАНИКА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_mechanic_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_mechanic_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_mechanic_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_mechanic_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_grade_bool}} ОЦЕНКА </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_grade_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_grade_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_grade_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_grade_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_swimming_bool}} ПЛАВАНИЕ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_swimming_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_swimming_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_swimming_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_swimming_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_fly_bool}} ПОЛЁТ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_fly_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_fly_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_fly_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_fly_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_permeability_bool}} ПРОНИЦАТ<br>ЕЛЬНОСТЬ </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_permeability_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_permeability_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_permeability_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_permeability_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_profession_one_bool}} ПРОФЕССИЯ <input type="text" style="width:20px" id={{form.skill_profession_one_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_profession_one_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_profession_one_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_profession_one_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_profession_one_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_profession_two_bool}} ПРОФЕССИЯ <input type="text" style="width:20px" id={{form.skill_profession_two_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_profession_two_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_profession_two_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_profession_two_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_profession_two_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_craft_one_bool}} РЕМЕСЛО <input type="text" style="width:20px" id={{form.skill_craft_one_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_craft_one_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_one_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_one_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_craft_one_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_craft_two_bool}} РЕМЕСЛО <input type="text" style="width:20px" id={{form.skill_craft_two_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_craft_two_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_two_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_two_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_craft_two_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_craft_three_bool}} РЕМЕСЛО <input type="text" style="width:20px" id={{form.skill_craft_three_dop}} </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_craft_three_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_three_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_craft_three_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_craft_three_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_secrecy_bool}} СКРЫТНОСТЬ  </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_secrecy_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_secrecy_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_secrecy_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_secrecy_misc_mod}}  </td>
    </tr>
    <tr>
        <td colspan="1"><input type="checkbox" id={{form.skill_languachies_bool}} ЯЗЫКОЗНАНИЕ  </td>
        <td colspan="1"><input type="text" class="input_one" size="2" style="position:relative; top:10px" id={{form.skill_languachies_total_bonus}} <div style="position:relative; top:-20px; right:-64px">  =ЛВК </div>  </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_languachies_attribute_modifiers}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2"  style="position:relative; top:10px" id={{form.skill_languachies_points_skill}} <div style="position:relative; top:-20px; right:-67px">  + </div> </td>
        <td colspan="1"><input type="text" class="input_one" size="2" id={{form.skill_languachies_misc_mod}}  </td>
    </tr>

    <table class="table_thirteen">
        <tr>
            <td colspan="1"><h2>МОДИФИКАТОРЫ ОБСТОЯТЕЛЬСТВ:</h2></td>
        </tr>
        <tr>
            <td colspan="1"><input type="text" class="input" style="width:500px" size="2" id={{form.circumstance_modifier_one}}   </td>
        </tr>    
        <tr>
            <td colspan="1"><input type="text" class="input" style="width:500px" size="2" id={{form.circumstance_modifier_two}}   </td>
        </tr>   
        <tr>
            <td colspan="1"><h2>ЯЗЫКИ:</h2></td>
        </tr>
        <tr>
            <td colspan="1"><input type="text" class="input" style="width:500px" size="2" id={{form.languachies_one}}   </td>
        </tr>   
        <tr>
            <td colspan="1"><input type="text" class="input" style="width:500px" size="2" id={{form.languachies_two}}   </td>
        </tr>   
        <tr>
            <td colspan="1"><input type="text" class="input" style="width:500px" size="2" id={{form.languachies_three}}   </td>
        </tr>   
    </table>
    

</div>



<button style="position:relative; top:-5000px;">Сохранить</button> 
   

</body>
</html>
