<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор действий с персонажами</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://www.htmlbook.ru/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body bgcolor="#F5DEB3" link="#8B4513" vlink="#A52A2A"> 

<div style="margin-top: 200px">  
<font face="Lobster"  color="#D2B48C"> <p align="center" style="font-size:80px"> <a href="{% url 'saveforms' %}" style="padding: 100px;">Создать нового персонажа</a> </p> </font>
<font face="Lobster"  color="#D2B48C" > <p align="center" style="font-size:80px"> <a href="{% url 'list_character' %}" style="margin-top: 100px;" >Изменить персонажа</a> </p> </font>
</div> 

</body>
</html>
